<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TokenManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TokenManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <applicationSettings>
    <TokenManager.Properties.Settings>
     <setting name="ApplicationAddress" serializeAs="String">
      <value>0xFF1D19EBE9Da2D81Ce5480a2Dab1C1C5faA3e2dD</value>
     </setting>
     <setting name="TokenFactoryAddress" serializeAs="String">
      <value>0xa963b43f63c5dfa109f8b56eadd45f988b3955fd</value>
     </setting>
     <setting name="APILocation" serializeAs="String">
      <value>https://ready20loyalty.azurefd.net</value>
     </setting>
     <setting name="AccountInfos" serializeAs="String">
      <value>[{"AccountName":"Consoto Airline","AccountPubAddress":"0xFF1D19EBE9Da2D81Ce5480a2Dab1C1C5faA3e2dD"},{"AccountName":"Consoto Airline","AccountPubAddress":"0x0071df3755926F5C38b4cb68d550807db74DcbAc"},{"AccountName":"Contoso Rent a car","AccountPubAddress":"0xB897f342D673fB16C38D8Ca4e31F39EE727720A1"},{"AccountName":"Bob","AccountPubAddress":"0x1F9B9484188b42C01f4aaC308D4848659901F17b"},{"AccountName":"Mary","AccountPubAddress":"0x0f5DDacC06A44163badc5eD4f09dE0d3eFfC2716"},{"AccountName":"Jason","AccountPubAddress":"0xC3c76b85b44840CD8E03C01c09cC85522108faAE"},{"AccountName":"DB","AccountPubAddress":"0xdDE43471B86d4e001a0ad122CbF8b1F3011f17b3"}]</value>
     </setting>
    </TokenManager.Properties.Settings>
  </applicationSettings>
   <userSettings>
      <TokenManager.Properties.Settings>
         <setting name="TokenInfos" serializeAs="String">
            <value />
         </setting>
      </TokenManager.Properties.Settings>
   </userSettings>
</configuration>