<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MileageTokenService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MileageTokenService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MileageTokenService.Properties.Settings>
            <setting name="CompanyInfo" serializeAs="String">
                <value>
                  [
                  {
                  "Name": "Contoso Airline",
                  "ContractAddress": "0x5e21ccbfbcc14a1d50b09ca32d3e29bab8cc7ca8",
                  "Address": "0x0071df3755926F5C38b4cb68d550807db74DcbAc",
                  "TokenAddress": "0xb2da78d1f8ebf31b824ff2df10ece8ead00e84b7"
                  }
                  ,
                  {
                  "Name": "Contoso Rent a Car",
                  "ContractAddress": "0x671e423654784e35db74566e9012b13a8cb2311e",
                  "Address": "0xB897f342D673fB16C38D8Ca4e31F39EE727720A1",
                  "TokenAddress": "0x88bf7a8fce51bba89eed6eeaaf4b9b6f71888259"
                  }

                  ]</value>
            </setting>
        </MileageTokenService.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MileageTokenService.Properties.Settings>
            <setting name="APILocation" serializeAs="String">
                <value>https://ready20loyalty.azurefd.net</value>
            </setting>
        </MileageTokenService.Properties.Settings>
    </applicationSettings>
</configuration>