<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MileageTokenService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MileageTokenService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MileageTokenService.Properties.Settings>
            <setting name="CompanyInfo" serializeAs="String">
                <value>
                  [
                  {
                  "Name": "Contoso Airline",
                  "ContractAddress": "0x3301229df10d6be053c3421e2a2411c9d265559e",
                  "Address": "0x0071df3755926F5C38b4cb68d550807db74DcbAc",
                  "TokenAddress": "0xab307b365da68b312b80acd4aa2609eea641f89e"
                  }
                  ,
                  {
                  "Name": "Contoso Rent a Car",
                  "ContractAddress": "0x7d0d16d9c4d892fbe71e082a06bc31cfab1d5e1f",
                  "Address": "0xB897f342D673fB16C38D8Ca4e31F39EE727720A1",
                  "TokenAddress": "0xbbbbcc8d6c05f5d71ea3d696fedeb9c41a539d89"
                  }

                  ]</value>
            </setting>
        </MileageTokenService.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MileageTokenService.Properties.Settings>
            <setting name="APILocation" serializeAs="String">
                <value>https://ready20loyalty.azurefd.net</value>
            </setting>
        </MileageTokenService.Properties.Settings>
    </applicationSettings>
</configuration>